<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/styles/messages.css">
</head>
<body>
    <header>
        <h1>Wenderson chat</h1>
    </header>

    <main>
        <div id="messages"></div>
        <form id="new_message">
            <input type="text" placeholder="<%= name %>" autocomplete="off">
            <input type="hidden" value="<%= name %>">
            <input type="submit" value="enviar">
        </form>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/messages.js"></script>
</body>
</html>