* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #293838;
    padding: 0 200px;
}
#messages {
    height: 80vh;
    width: 100%;
}
#new_message {
    display: none;
}
